.ui.basic.label.styles_toolbarBtn__2jfCt:hover + .users {
    visibility: visible;
}

.users {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 20px;
    border-radius: 5px;
    background-color: #00b5acdc;
    color: white;
}

.dis {
    background-color: #b53900dc;
    left: 65px;
}